.container {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparentize(black, 0.9);
  border-radius: $border_radius;
  text-transform: uppercase;
  font-weight: 200;
  user-select: none;
}
