.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0;
}

.container {
  max-width: $desktop_max_width;
  flex: 1 0;
  padding: $gap;
  box-sizing: border-box;
  box-shadow: transparentize(black, 0.5) 0 0 0 1px;
  margin-top: $gap;
  border-radius: $border_radius;

  > div { margin: $gap / 2 0; }

  .badge {
    background: transparentize(red, 0.5);
    display: inline-block;
    padding: 4px;
    border-radius: $border_radius;
    margin-right: 16px;
  }
}


